<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.meditoc.callCenter.comercial" android:installLocation="preferExternal" android:versionCode="1009" android:versionName="1.0.0.9">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:usesCleartextTraffic="true" android:label="Meditoc 360" android:largeHeap="true" android:icon="@mipmap/ic_launcher"></application>
</manifest>