:root {
    --color-primary-blue: #12b6cb;
    --color-secondary-blue: #115c8a;
    --color-default-blue: #bae9ef;

    --color-primary-gray: #575e66;
    --color-secondary-gray: #878787;
    --color-default-gray: #272e31;

    --color-background-gray: #f8f8f8;
    --color-unset: #ffffff;

    --font-primary: "Roboto";
    --font-secondary: "Open Sans";
    --font-default: "Roboto Condensed";

    --transition-menu: 400ms;

    --detalle-info-height: 570px;
}
body {
    margin: 0;
    font-family: "Roboto", "Open Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background-gray);
}

.primary-blue {
    color: var(--color-primary-blue);
}

.primary-gray {
    color: var(--color-primary-gray);
}

.secondary-blue {
    color: var(--color-secondary-blue);
}
.secondary-gray {
    color: var(--color-secondary-gray);
}

.error {
    color: #ff0000;
}
/* Tamaño del scroll */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
::-webkit-scrollbar-track {
    background: #e1e1e1;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.centrar {
    text-align: center;
}

.izquierda {
    text-align: left;
}
.derecha {
    text-align: right;
}

.precios-menu-contenedor {
    display: flex;
}
.precios-menu-logo-contenedor {
    margin-left: 93px;
    flex-grow: 1;
}
.precios-menu-logo {
    height: 76px;
}

.precios-menu-ul {
    display: inline-flex;
    height: 100%;
    margin: 0;
}
.precios-menu-li {
    list-style: none;
    font-size: 22px;
    font-family: var(--font-default);
    cursor: pointer;
    padding: 20px 20px;
    border-top: 3px solid var(--color-background-gray);
    transition: var(--transition-menu);
}

.precios-menu-li > a {
    color: var(--color-primary-gray);
    text-decoration: none;
    transition: var(--transition-menu);
}

.precios-menu-li:hover {
    /* background-color: var(--color-background-gray); */
    border-top: 3px solid var(--color-primary-blue);
    transition: var(--transition-menu);
}

.precios-menu-li:hover > a {
    color: var(--color-primary-blue);
    transition: var(--transition-menu);
}
.precios-menu-active {
    border-top: 3px solid var(--color-primary-blue);
}
.precios-menu-active > a {
    color: var(--color-primary-blue);
}
.precios-menu-ul-contenedor {
    overflow-x: hidden;
}
@media only screen and (max-width: 1050px) {
    .precios-menu-contenedor {
        display: block;
    }
    .precios-menu-ul-contenedor {
        overflow-x: auto;
    }
}

.precios-portada-contenedor {
    background: linear-gradient(180deg, #6dd5ed 0%, #2193b0 100%);
}
.precios-portada-img {
    height: 650px;
    margin-left: 100px;
}
@media only screen and (max-width: 450px) {
    .precios-portada-img {
        margin-left: 10px;
    }
}

.precio-portada-leyenda-contenedor {
    align-self: center;
}

@media only screen and (max-width: 960px) {
    .precio-portada-leyenda-contenedor {
        align-self: initial;
        padding: 25px;
    }
}

.precios-portada-leyenda {
    color: var(--color-unset);
    font-family: var(--font-default);
    font-size: 40px;
    line-height: 49px;
    font-weight: 300;
}
@media only screen and (max-width: 350px) {
    .precios-portada-img {
        height: 450px;
    }
    .precios-portada-leyenda {
        color: var(--color-unset);
        font-family: var(--font-default);
        font-size: 30px;
        line-height: 39px;
        font-weight: 300;
    }
}
.precios-cotenido-contenedor {
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
}
.precios-contenido-titulo {
    font-family: var(--font-default);
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    margin-top: 30px;
}
.precios-contenido-descripcion {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    color: var(--color-secondary-gray);
}
.precios-contenido-descripcion-nr {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: var(--color-secondary-gray);
}

.precios-articulo-contenedor {
    max-width: 330px;
    margin: auto;
    background-color: var(--color-unset);
    height: 480px;
    box-shadow: 0px 0px 26px -13px rgba(0, 0, 0, 0.75);
    border-radius: 40px;
    position: relative;
    padding: 40px;
    padding-top: 160px;
}
.precios-articulo-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: var(--color-primary-blue);
    border-radius: 40px;
    text-align: center;
    color: var(--color-unset);
}

.precios-articulo-header-icon {
    font-size: 40px;
    margin-top: 30px;
}

.precios-articulo-header-title {
    font-family: var(--font-default);
    font-size: 28px;
}
.precios-ariculo-monto {
    font-family: var(--font-default);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 57px;
    color: var(--color-primary-gray);
}
.precios-articulo-monto-descripcion {
    font-family: var(--font-default);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: var(--color-secondary-gray);
}
.precios-articulo-separador {
    border-right: 2px solid var(--color-secondary-gray);
}
.precios-articulo-descripcion-contenedor {
    text-align: left;
    flex-grow: 1;
    padding-top: 40px;
    text-align: justify;
}
.precios-articulo-descripcion {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-secondary-gray);
    text-justify: inter-word;
}
@media only screen and (max-width: 460px) {
    .precios-articulo-monto-descripcion {
        font-size: 14px;
    }
    .precios-articulo-descripcion {
        line-height: 20px;
        font-size: 14px;
    }
}
.precios-articulo-icon-orientacion {
    font-size: 30px;
    color: var(--color-secondary-blue);
}
.precios-ariculo-space {
    margin-bottom: 30px;
}
.precios-articulo-contratar {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}
.precios-footer-contenedor {
    background-color: var(--color-default-gray);
    height: auto;
    color: var(--color-unset);
    padding-top: 40px;
    padding-bottom: 40px;
}
.precios-footer-sub {
    width: 80%;
    margin: auto;
}
.precios-footer-contacto {
    font-family: var(--font-default);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-unset);
}
.precios-footer-direccion {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-secondary-gray);
}
.precios-footer-map {
    background-color: var(--color-unset);
    height: 310px;
    width: 500px;
}

.pagos-header {
    background-color: var(--color-primary-blue);
    padding: 20px;
    text-align: center;
}
.pagos-header-logo {
    height: 160px;
}

.pagos-contenido {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.pagos-contenido-subtitulo {
    font-family: var(--font-default);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 47px;
    color: var(--color-primary-gray);
}
.pagos-detalle-compra-contenedor {
    margin-top: 30px;
    height: var(--detalle-info-height);
    width: 100%;
    background-color: var(--color-primary-blue);
    box-shadow: 0px 0px 26px -13px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    margin-left: 25px;
    margin-bottom: 60px;
    color: var(--color-unset);
    display: flex;
    flex-direction: column;
}

.pagos-info-pago-contenedor {
    margin-top: 30px;
    height: var(--detalle-info-height);
    width: 100%;
    background-color: var(--color-unset);
    box-shadow: 0px 0px 26px -13px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    margin-left: -25px;
    margin-bottom: 60px;
}

.pagos-detalle-compra-articulos {
    padding: 20px;
    padding-right: 70px;
    padding-top: 30px;
    flex-grow: 1;
}

.pagos-detalle-compra-articulo {
    display: flex;
    margin-bottom: 40px;
}

.pagos-detalle-compra-articulo-icono {
    background-color: var(--color-unset);
    padding: 5px 10px 2px;
    border-radius: 10px;
    font-size: 40px;
    color: var(--color-secondary-blue);
    align-self: center;
}

.pagos-detalle-compra-articulo-detalles {
    margin-left: 10px;
    text-align: left;
    flex-grow: 1;
}

.pagos-detalle-compra-articulo-nombre {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.pagos-detalle-compra-articulo-precio {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}
.pagos-detalle-compra-articulo-cantidad {
    margin-top: -15px;
    margin-bottom: -15px;
}
.pagos-detalle-compra-articulo-cantidad-btn {
    color: var(--color-unset);
}
.pagos-detalle-compra-articulo-eliminar {
    align-self: center;
}
.pagos-detalle-compra-total {
    padding: 20px;
    padding-right: 70px;
}

.pagos-detalle-compra-total-contenedor {
    border-top: 1px solid var(--color-unset);
}

.pagos-detalle-compra-subtotal-txt {
    font-family: var(--font-default);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.pagos-detalle-compra-total-txt {
    font-family: var(--font-default);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.pagos-info-pago-formulario {
    padding: 20px;
    padding-top: 50px;
}
@media only screen and (max-width: 960px) {
    .pagos-contenido {
        width: 95%;
        margin: auto;
        text-align: center;
        margin-top: 40px;
    }
    .pagos-detalle-compra-contenedor {
        margin-top: 30px;
        height: var(--detalle-info-height);
        width: 100%;
        background-color: var(--color-primary-blue);
        box-shadow: 0px 0px 26px -13px rgba(0, 0, 0, 0.75);
        border-radius: 30px;
        margin-left: 0px;
        margin-bottom: 60px;
        color: var(--color-unset);
        display: flex;
        flex-direction: column;
    }

    .pagos-info-pago-contenedor {
        margin-top: 30px;
        height: var(--detalle-info-height);
        width: 100%;
        background-color: var(--color-unset);
        box-shadow: 0px 0px 26px -13px rgba(0, 0, 0, 0.75);
        border-radius: 30px;
        margin-left: 0px;
        margin-bottom: 60px;
    }
    .pagos-detalle-compra-articulos {
        padding: 20px;
        padding-right: 20px;
        flex-grow: 1;
    }
    .pagos-detalle-compra-total {
        padding: 20px;
        padding-right: 20px;
    }
}

.pagos-ingresar-cupon-titulo {
    font-family: var(--font-default);
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: var(--color-primary-blue);
}

.pagos-orden-ok-icono {
    color: var(--color-primary-blue);
    font-size: 100px;
}
.pagos-orden-error-icono {
    color: red;
    font-size: 100px;
}
.pagos-orden-ok-margin {
    margin-bottom: 50px;
}
