<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Parametros CometChat-->
    <add key="sURLAPICometChat" value="https://api.cometondemand.net/api/v2/" />
    <add key="sApikey" value="51509x3e6ba9712f0add9cc72ae25bc2a8ae33" />
    <add key="sGetuser" value="getUser" />

    <add key="sGetMessages" value="getMessages" />


  </appSettings>
  <system.web>


    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" executionTimeout="99999" maxRequestLength="2097151"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
 
  </system.serviceModel>



  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>

    <!--Pruebas Local-->
    <add name="cnxSERVICIOS" connectionString="iCiUs8ACAXqkT+Y4txNjjv3x/LZHdkeQBejmWhweLyTPjH2kkO3MoZTYwBMtMJXfhJ+kQly57THqQlCq3+d4wJd8bVhpUdJv0vZhloVEUH8=" providerName="MySql.Data.MySqlClient" />
    <add name="cnxCGU" connectionString="iCiUs8ACAXqkT+Y4txNjjv3x/LZHdkeQBejmWhweLyTPjH2kkO3MoZTYwBMtMJXfacWMdAPScNaP5lwAfYpUSGoXB5IIsmbWIZE5bqxb8Wg=" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>

</configuration>
