<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\App_Data\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximunFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="{&quot;Info&quot;: &quot;%date [%thread] %-5level %logger&quot;, &quot;Data&quot;: %message}%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="ServerMail" value="smtp.gmail.com" />
    <add key="SSLMail" value="true"/>
    <add key="PortMail" value="587"/>

    <!--<add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />-->

    <add key="ServerMail" value="smtp.gmail.com" />
    <add key="SSLMail" value="true"/>
    <add key="PortMail" value="587"/>

    <!--Días de corte servicio-->
    <add key="iDiasDespuesVencimiento" value="3" />
    <add key="iDiasDespuesVencimientoEspecialista" value="90" />
    <add key="iMinToleraciaConsultaInicio" value="10" />
    <add key="iMinToleraciaConsultaFin" value="10" />


    <add key="UserMail_GENERAL" value="nr.envios@gmail.com"/>
    <add key="PassMail_GENERAL" value="3nv14rPrueba"/>

    <!-- IcelinkServers servidor,usuario,contraseña separador | -->
    <add key="sIceLinkServers" value="turn:turn.frozenmountain.com:80?transport=udp,test,pa55w0rd!|stun:turn.frozenmountain.com:3478?transport=udp,," />
    <!-- Llaves de icelink -->
    <add key="sLlaveIcelink" value="fmeyJpZCI6ImU1ZWFhNTlmLTk1NmMtNGM2NS04MDYxLWFiMDIwMTg1MGRiNiIsImFpZCI6IjdiMDllZjczLWVhOGItNGQ2Yy1hZWI0LWFiMDIwMTNiMWUzOCIsInBjIjoiSWNlTGluayIsIml0IjpmYWxzZSwidmYiOjYzNzA5MTEyMTkwMDQwMDAwMCwidnQiOjYzNzQwNzM0NTkwMDQwMDAwMH0=.PztjhiDnnjsjlt5ny7lDs5mdDa/zpLWDx4/hZpyGb3ubQ5lrK9bZxFhz4Km+mIPkign65kVfge64QR+bHwb4ia/zeYqPzKZUhM8FPp8/PIkxXUtWtayGxDAIRFGsQhmp/49rwVpEKO1Pvfy7enj1LKecCC22drxRctsq6esl7Lo=" />
    <add key="sLlaveDominio" value="b7e20a64-7f51-41ec-b606-00bebe959b9e" />

    <!--PROD-->
    <!--<add key="CONEKTA_APIKEY" value="y8nIxdBUmLW09UXpNohPjHTYoEPFQwalspSb8pA38C8=" />-->
    <!--QA-->
    <add key="CONEKTA_APIKEY" value="/LI+e9JcXJC0SnvAhmrDemVlaqXyM+N7bleHsgvne1M=" />
    <!--QA-->
    <add key="sConektaPublicKey" value="jEZDrmNWB0+RWO3cApqhlaKKybiziml6OJIRYLAAcSk=" />

    <add key="CONEKTA_VERSION" value="2.0.0" />
    <add key="CONEKTA_LOCALE" value="es" />
    <add key="CONEKTA_SAVE_DB" value="True" />
    <add key="CONEKTA_CASH_EXPIRE_HOURS" value="24" />
    <add key="CONEKTA_ORDERS" value="https://api.conekta.io/orders" />
    <add key="CONEKTA_DESCUENTO_MAXIMO" value="0.90" />
    <add key="CONEKTA_IMPUESTO" value="0.16" />
    <add key="IMD_LOGGER" value="True" />

    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />

    <add key="sAvisoDePrivacidad" value="http://187.157.158.201/callcenterws/Files/Aviso_de_Privacidad.pdf" />
    <add key="sTerminosYCondiciones" value="http://187.157.158.201/callcenterws/Files/Terminos_y_Condiciones.pdf" />
    <add key="sCorreoContacto" value="contacto@meditoc.com" />
    <add key="sCorreoSoporte" value="contacto@meditoc.com" />
    <add key="sDireccionEmpresa" value="Calle 17 #113, Col. Itzimná, 97100, Mérida, Yuc." />
    <add key="sTelefonoEmpresa" value="5551-003021" />
    <add key="nMaximoDescuento" value="0.90" />
    <add key="nIVA" value="0.16" />
    <add key="sMensualidades" value="[          {&quot;meses&quot;:3,&quot;descripcion&quot;:&quot;3 meses sin intereses&quot;,&quot;compra_minima&quot;:300},          {&quot;meses&quot;:6,&quot;descripcion&quot;:&quot;6 meses sin intereses&quot;,&quot;compra_minima&quot;:600},          {&quot;meses&quot;:9,&quot;descripcion&quot;:&quot;9 meses sin intereses&quot;,&quot;compra_minima&quot;:900},          {&quot;meses&quot;:12,&quot;descripcion&quot;:&quot;12 meses sin intereses&quot;,&quot;compra_minima&quot;:1200}]" />
    <add key="bTieneMesesSinIntereses" value="True" />

    <!--Variables de correo-->
    <add key="sLogoMeditoc" value="http://201.46.92.51/img/logo-meditoc.png" />
    <add key="sLinkApple" value="https://apps.apple.com/mx/app/meditoc-360/id1521078394" />
    <add key="sLogoApple" value="http://201.46.92.51/img/app-store.png" />
    <add key="sLinkPlay" value="https://play.google.com/store/apps/details?id=com.meditoc.callCenter.comercial" />
    <add key="sLogoPlay" value="http://201.46.92.51/img/play-store.png" />
    <add key="sLogoConekta" value="http://201.46.92.51/img/conekta.png" />
    <add key="sConektaPublicKey" value="key_GyCqFsGWvYaFP3a7C9Lyfjg" />
  </appSettings>
  <connectionStrings>
    <!--76(pruebas)-->
    <add name="cnxMeditoc" connectionString="61Cb4qdXrbIPL8az9svQS9NpHT6a0CjLrB3waEkXKz6zqKiBv+K6dlRiIKlTACBBl9ESxHsDpvAo138vwBQwTbWioAY4D1QXqA+m1lPwTW0=" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>