<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximunFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="{&quot;Info&quot;: &quot;%date [%thread] %-5level %logger&quot;, &quot;Data&quot;: %message}%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--Ligas serviciosGobierno-->
    <add key="sLigaServicio" value="https://diagrama.yucatan.gob.mx:8181/apiv2/covid" />
    <add key="sTokenGobierno" value="fe41f28cf4e5496fbf41d0eae434046f" />

    <!-- Parametros CometChat-->
    <add key="sURLAPICometChat" value="https://api.cometondemand.net/api/v2/" />
    <add key="sApikey" value="51509x3e6ba9712f0add9cc72ae25bc2a8ae33" />
    <add key="sGetuser" value="getUser" />
    <add key="sDeleteUser" value="deleteUser" />
    <add key="sGetMessages" value="getMessages" />
    <add key="sCreatGroup" value="createGroup" />
    <add key="sDelGroup" value="deleteGroup" />
    <add key="sAddToGroup" value="addUsersToGroup" />
    <add key="sDelFromGroup" value="removeUsersFromGroup" />
    <add key="sAddFriend" value="addFriends" />
    <add key="sDelFriend" value="deleteFriends" />
    <add key="sCreateUser" value="createUser" />
    <add key="sGetGroupMessages" value="getGroupMessages" />
    <add key="sSendMessage" value="sendMessage"/>

    <!-- Mensajes desde CometChat -->
    <add key="bSendMsjInitChat" value="True"/>
    <add key="sMensajeInitChat" value="Gracias por contactar al servicio en linea de doctores, su folio de usuario es: //." />
    <add key="bSendMsjInitVideoChat" value="True"/>
    <add key="sMensajeIniVideotChat" value="Gracias por contactar al servicio en linea de doctores, su folio de usuario es: //." />
    <add key="bSendMsjFinal" value="True"/>
    <add key="sMensajeFinal" value="Gracias por usar el servicio, tenga un excelente día." />

    <!-- MAIL -->
    <add key="ServerMail" value="smtp.gmail.com" />
    <add key="SSLMail" value="true"/>
    <add key="PortMail" value="587"/>


    <add key="UserMail_GENERAL" value="nr.envios@gmail.com"/>
    <add key="PassMail_GENERAL" value="3nv14rPrueba"/>

    <!-- Telefono Comutador -->
    <add key="sTelefono" value="8009822826"/>

    <!--Bandera de activación del folio en la app-->
    <add key="bActivarFolio" value="false" />
    <!--BAndera para activar odesactivar la geolocalización-->
    <add key="bActivarGeolocalizacion" value="true" />
    <!-- IcelinkServers servidor,usuario,contraseña separador | -->
    <add key="sIceLinkServers" value="turn:turn.frozenmountain.com:80?transport=udp,test,pa55w0rd!|stun:turn.frozenmountain.com:3478?transport=udp,," />
    <!-- Laves de icelink -->
    <add key="sLlaveIcelink" value="fmeyJpZCI6IjcyZDM1M2U4LWMzMjMtNGZmMi04NTE0LWFiODQwMTMzYTYyOCIsImFpZCI6ImNhYmY0NWQ0LTEzMTktNDM3Yi1hNjQ4LWFiODMwMTQ4NDU4NyIsInBjIjoiSWNlTGluayIsIml0Ijp0cnVlLCJ2ZiI6NjM3MjAzMjY0MDY5NTcwMDAwLCJ2dCI6NjM3MjI5MTg0MDY5NTcwMDAwfQ==.DxSBjq1EB9+wOGgDH29R5q0lrySdXx1szXuEnmN3jfzyx1v0VtSrWuPNw3gnfupNDp+H3IfET9uCEnd2huy42yKPv7d4nSl+t6lVSMSQmQQZZd8Wp7CYw7FqaV50DOxBFM+lYzXRdX1QOkQsRWWSoeByTUgoEHgl1FjuQ2WXmIE=" />
    <add key="sLlaveDominio" value="ff746a23-cfd1-46ea-889c-681d388a121a" />
    <!--Información pdf's y ligas CovID-->
    <add key="sTerminosYCondiciones" value="http://187.157.158.201/callcenterws/Files/Terminos_y_Condiciones.pdf" />
    <add key="sAvisoDePrivacidad" value="http://187.157.158.201/callcenterws/Files/Aviso_de_Privacidad.pdf" />
    <add key="sLigaCovID" value="http://coronavirus.yucatan.gob.mx/" />
    <!--MensajesAPP-->
    <add key="sMensajeFolio" value="El folio proporcionado no es válido" />
    <add key="sMensajeFolioValido" value="El folio que proporciono existe y puede continuar con la llamada" />
    <add key="sMensajeGeometria" value="Es necesario habilitar el GPS para poder brindarle un mejor servicio." />
    <add key="sFolioTipo2" value="Folio tipo 2." />
    <add key="sFolioTipo1" value="Folio tipo 1." />
    <add key="sMensajeErrorCodigoPostal" value="El código postal que proporciona no pertenece al Estado de Yucatán, favor de revisar." />
    <add key="sMensajeErrorLada" value="La lada que proporciona no pertenece al Estado de Yucatán, favor de revisar." />
    <!--Mensaje para dialogos con folio-->
    <add key="sTituloFolio" value="" />
    <add key="sSubTituloUno" value="Muchas gracias por contestar el cuestionario, su folio es: " />
    <add key="sSubTituloDos" value="\n" />
    <add key="sSubTituloTres" value="Es importante guardarlo ya que se le solicitará durante la consulta. \n \n" />
    <add key="sSubTituloCuatro" value="" />
    <add key="sSubTituloCinco" value="Podrá acceder a nuestro servicio de consulta en línea con un médico." />
    <!--Mensaje para dialogos sin folio-->
    <add key="sTituloFolioSinFolio" value="" />
    <add key="sSubTituloUnoSinFolio" value="¡Muchas gracias por tus respuestas! \n Con base en ellas se concluyó que usted no tiene la sintomatología para sospechar presencia de COVID-19." />
    <add key="sSubTituloDosSinFolio" value="" />
    <add key="sSubTituloTresSinFolio" value="\n \n" />
    <add key="sSubTituloCuatroSinFolio" value="En caso de presentar nuevos síntomas por favor conteste estas preguntas nuevamente. Continua con las medidas preventivas y manténganse informado a través de los canales oficiales. \n \n" />
    <add key="sSubTituloCincoSinFolio" value="¡Prevenir es tarea de todos!" />
  </appSettings>
  <system.web>

    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" executionTimeout="99999" maxRequestLength="2097151"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceClientes" />
        <binding maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
           maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="BC.CallCenter.ClientesService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address=""
                  behaviorConfiguration="webBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="crossDomain"
                  contract="BC.CallCenter.IServiceClientes" />

        <endpoint address="soap" binding="basicHttpBinding" contract="BC.CallCenter.IServiceClientes"/>

      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

  </system.serviceModel>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>

    <!--Pruebas Local
    <add name="cnxCallCenter" connectionString="iCiUs8ACAXqkT+Y4txNjjv3x/LZHdkeQBejmWhweLyTPjH2kkO3MoYc9PeKOSqTZakb2UiEAmIXriT7ydFoBG7lei1C4DUseB4ZmnSG0aQ4=" providerName="MySql.Data.MySqlClient" />
    <add name="cnxCGU" connectionString="iCiUs8ACAXqkT+Y4txNjjv3x/LZHdkeQBejmWhweLyTPjH2kkO3MoYc9PeKOSqTZL24AS4uLdDVy5D71g7m2l6t+vi3TOuAaq1Rkc2Xn7IeImc8goF1Qgw==" providerName="MySql.Data.MySqlClient" />
-->
    <!--192.168.1.253-->

    <!--<add name="cnxCGU" connectionString="iCiUs8ACAXqkT+Y4txNjjqJx41n+K07XCOerfR71rkQvpkTFNmWTypKeLWhiF2FpLfxN5/xdRhzckGQK5Jyi7aNOvZi6R2S33mRDYc5msd0=" providerName="MySql.Data.MySqlClient" />
    <add name="cnxCallCenter" connectionString="iCiUs8ACAXqkT+Y4txNjjqJx41n+K07XCOerfR71rkQvpkTFNmWTyjyMxS+trjxtj+ZcAH2KVEjOA+8vL2Xm0IsespAw4pHGrIYZEwdtYis=" providerName="MySql.Data.MySqlClient" />-->

    <!--Publicado base de datos de prueba-->
    <!--<add name="cnxCGU" connectionString="iCiUs8ACAXr+LIryF5SOTUw4mslvyc8n7oYHQHiZ+j0bwEbCpm2410oxBdridqXp5WOe91BSTeLqCarBypgoUPuXsOoP6cr+rIYZEwdtYis=" providerName="MySql.Data.MySqlClient" />
    <add name="cnxSERVICIOS" connectionString="iCiUs8ACAXr+LIryF5SOTUw4mslvyc8n7oYHQHiZ+j0bwEbCpm2413364zEzi4zL1GhM0oAmEIyniB4PzW9fNF2XrKKsV3Cid1ZsVfvBMmA=" providerName="MySql.Data.MySqlClient" />-->

    <add name="cnxCGU" connectionString="iCiUs8ACAXoLVKIg4ZreZyvsB3eVe09+MeWc+l/eRbOs2whp44VpPaJgRNk3MySBnm20D+fEqMvqQlCq3+d4wEig8FpzT8DdrKAb6NVoOHk=" providerName="MySql.Data.MySqlClient" />
    <add name="cnxCallCenter" connectionString="iCiUs8ACAXoLVKIg4ZreZyvsB3eVe09+MeWc+l/eRbOs2whp44VpPU8ZG67CyYNFhhXIFuJxycDCTIuQ/KMefWSUUociCi8l3mRDYc5msd0=" providerName="MySql.Data.MySqlClient" />

    <!--Pruebas Producción
    <add name="cnxCallCenter" connectionString="iCiUs8ACAXrF7PyZz4bTQxI5YEJjMlpBXQAa/EVyVJvH0Fxaazmm7gyypaQwo0SWmeTqSQSoaZYWFS2/h1Ko3at+vi3TOuAaq1Rkc2Xn7IeImc8goF1Qgw==" providerName="MySql.Data.MySqlClient" />
    <add name="cnxCGU" connectionString="iCiUs8ACAXrF7PyZz4bTQxI5YEJjMlpBXQAa/EVyVJvH0Fxaazmm7gyypaQwo0SWmeTqSQSoaZa8ewKIBDpelqeIHg/Nb180p/CaNndBfNxzi/u4zlvTCA==" providerName="MySql.Data.MySqlClient" />

  -->

  </connectionStrings>

</configuration>